DATABASE_URL="postgresql://postgres:prisma@localhost:5432/postgres?schema=public"
USER_ID="1"

# Auth.js (NextAuth) Configuration
AUTH_SECRET="M6RjNFjecrPJX2zPaA641swDrXcTNjFDU+saWgRKu5o="
CLIENT_ID="Ov23li6mAOJPzAEQeOxt"
CLIENT_SECRET="0449ef196dea27aeb6f5551f0708719e384cbcba"

