/* Komponent stopki */
footer {
  background-color: #6b6bc7;
  padding: 2rem 0;
  margin-top: 4rem;
  text-align: center;
}

footer p {
  margin: 0.5rem 0;
  color: #e5e5e1;
}

footer a {
  color: #e5e5e1;
  text-decoration: underline;
  transition: color 0.3s;
}

footer a:hover {
  color: #bcbcb7;
}

