/* Komponent nagłówka */
#main-header {
  background-color: #6b6bc7;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

#main-header nav {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-header #logo {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  border-radius: 1px;
}

#main-header #logo a {
  display: inline-block;
  text-decoration: none;
  transition: opacity 0.3s;
}

#main-header #logo a:hover {
  opacity: 0.8;
}

#main-header #logo img {
  display: block;
}

#main-header ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

#main-header ul a {
  text-decoration: none;
  color: #e5e5e1;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#main-header ul a:hover,
#main-header ul a.active {
  background-color: #bcbcb7;
  color: #181817;
}

/* Responsywność */
@media (max-width: 768px) {
  #main-header nav {
    flex-direction: column;
    gap: 1rem;
  }

  #main-header ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}

